// Include all the modules
@import '../modules/all';

// Fonts weights
$bold: 600;
$light: 300;
$normal: 400;

// Fonts used
$font-body: 'Open Sans', Arial, sans-serif;
$font-name: 'Cantata One', Georgia, Times, serif;
