// Base partials
@import 'partials/base';

*, *:before, *:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-weight: $light;
	color: $smooth_black;
	font-family: $font-body;
	background-color: $light_grey;
}

header {
	color: $white;
	padding: 2em 3em;
	background-color: $dark_blue;

	img {
		width: 80px;
		display: block;
		margin: 1em auto;
		border-radius: 100%;
	}

	.user-info {
		text-align: center;
		
		h2 {
			color: $grey;
			font-family: $font-name;
		}

		ul {
			margin: 1em 0px;
			list-style: none;
			@include center-flex;

			li {
				margin: 0px 0.3em;
				color: lighten($dark_blue, 50%);

				&:after {
					content: ",";
				}

				&:last-child:after {
					content: " ";
				}
			}
		}

		p {
			color: lighten($dark_blue, 30%);

			&:before {
				margin-right: 1em;
			}
		}
	}
}

main {
	.projects_wrap {
		width: 100%;
		padding: 2em;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		.project {
			width: calc(100% / 3.5);
			margin: 2em 0px;

			img {
				width: 100%;
				border-radius: 5px;
				
				&:hover {
					cursor: zoom-in;
				}
			}

			.project_info {
				text-align: center;

				h3,a {
					font-size: 14px;
					margin: 0.3em 0px;
					font-weight: $bold;
					text-decoration: none;
					color: $slight_dark_blue;
				}

				> a:hover {
					text-decoration: underline;
				}

				ul {
					list-style: none;
					@include center-flex;

					li {
						font-size: 12px;
						margin: 0px 0.4em; 
						color: darken($light_grey, 30%);

						&:after {
							content: ",";
						}

						&:last-child:after {
							content: "";
						}
					}
				}
			}
		}
	}
}

footer {
	padding: 3em;
	text-align: center;

	p {
		margin-bottom: 1em;
		color: darken($light_grey, 30%);
	}

	a {
		color: $blue;
		font-size: 3em;
	}
}