@import url("https://fonts.googleapis.com/css?family=Cantata+One|Open+Sans");
*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  color: #353537;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fafafa;
}

header {
  color: #FFFFFF;
  padding: 2em 3em;
  background-color: #303746;
}
header img {
  width: 80px;
  display: block;
  margin: 1em auto;
  border-radius: 100%;
}
header .user-info {
  text-align: center;
}
header .user-info h2 {
  color: #e0e0e0;
  font-family: "Cantata One", Georgia, Times, serif;
}
header .user-info ul {
  margin: 1em 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .user-info ul li {
  margin: 0px 0.3em;
  color: #aeb6c7;
}
header .user-info ul li:after {
  content: ",";
}
header .user-info ul li:last-child:after {
  content: " ";
}
header .user-info p {
  color: #717f9e;
}
header .user-info p:before {
  margin-right: 1em;
}

main .projects_wrap {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
main .projects_wrap .project {
  width: calc(100% / 3.5);
  margin: 2em 0px;
}
main .projects_wrap .project img {
  width: 100%;
  border-radius: 5px;
}
main .projects_wrap .project .project_info {
  text-align: center;
}
main .projects_wrap .project .project_info h3, main .projects_wrap .project .project_info a {
  font-size: 14px;
  margin: 0.3em 0px;
  font-weight: 600;
  text-decoration: none;
  color: #6b919f;
}
main .projects_wrap .project .project_info > a:hover {
  text-decoration: underline;
}
main .projects_wrap .project .project_info ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .projects_wrap .project .project_info ul li {
  font-size: 12px;
  margin: 0px 0.4em;
  color: #aeaeae;
}
main .projects_wrap .project .project_info ul li:after {
  content: ",";
}
main .projects_wrap .project .project_info ul li:last-child:after {
  content: "";
}

footer {
  padding: 3em;
  text-align: center;
}
footer p {
  margin-bottom: 1em;
  color: #aeaeae;
}
footer a {
  color: #1769ff;
  font-size: 3em;
}
